/* initialization and general styles start */
:root {
  --primary-color: rgb(237,237,246);
  --secondary-color: rgb(146,204,205);
  --header-color: rgb(49,52,62);
  --text-color: rgb(64,85,117);
}
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* initialization and general styles end */

/* header start */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--header-color);
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0 20px;
  width: 420px;
  height: 55px;
  background-color: var(--secondary-color);
}

header h1 {
  font-weight: bold;
  margin: 0 15px;
  font-size: 36px;
  color: var(--header-color);
}

header nav {
  margin: 25px 60px;
}

header a {
  text-decoration: none;
  color: var(--secundary-color);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  font-weight: lighter;
  font-size: 1.35vw;
  padding: 5px 15px;
  border-bottom: 3px solid;
  margin: 0 6px;

}

header nav ul li a:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: none;
}
/* header end */

/* hero start  */
.hero {
  background-image: url('../images/boats-flipped.png');
  background-color: #b9b9b9;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 55px;
  width: 320px;
  height: 55px;
  background-color: var(--secondary-color);
}

.hero h2 {
  color: var(--header-color);
  font-size: 34px;
}




